@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --zensory-blue: #020022;
    --zensory-cyan: #00f2ff;
    --zensory-green: #76ff03;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000;
    /* Fallback */
}

/* Scrollbar Customization */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #020022;
}

::-webkit-scrollbar-thumb {
    background: #00f2ff;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #76ff03;
}